In [9]:
import akshare as ak

In [4]:
symbol = "IF0"
start_date = "2021-01-01"
end_date="2022-08-01"

futures_df = ak.futures_main_sina(symbol, start_date=start_date, end_date=end_date).iloc[:,:6]
# futures_df.columns = ['datetime','open','high','low','close','volume']
futures_df.head()

           日期     开盘价     最高价     最低价     收盘价     成交量
0  2021-01-04  5230.0  5298.8  5192.0  5260.0   84288
1  2021-01-05  5250.0  5370.8  5238.8  5359.8   88203
2  2021-01-06  5374.8  5443.4  5346.6  5408.4   94934
3  2021-01-07  5426.8  5531.8  5410.4  5530.0  104541
4  2021-01-08  5546.4  5563.6  5450.0  5505.4  104492

In [20]:
futures_zh_spot_df = ak.futures_zh_spot(symbol='IF2210', market="FF", adjust='0')
futures_zh_spot_df.head()

,symbol,time,open,high,low,current_price,hold,volume,amount
0,沪深300指数期货2210,15:00:00,3931.0,3953.8,3912.2,3929.0,76777.0,57041,224354547.6

In [8]:
ak.match_main_contract(symbol="cffex")

IF2210
TF2212
sngz_qh 无主力合约
IH2210
IC2210
TS2212
IM2210
cffex主力合约获取成功

'IF2210,TF2212,IH2210,IC2210,TS2212,IM2210'

In [26]:
futures_zh_daily_sina_df = ak.futures_zh_daily_sina(symbol="IF2110")
print(futures_zh_daily_sina_df.shape)
futures_zh_daily_sina_df.head()

(33, 8)

         date    open    high     low   close  volume  hold  settle
0  2021-08-23  4715.6  4789.8  4709.2  4767.0    1495  1476     0.0
1  2021-08-24  4786.4  4854.4  4786.4  4834.6    1827  1935     0.0
2  2021-08-25  4849.2  4849.2  4806.2  4830.8    1854  2514     0.0
3  2021-08-26  4827.6  4827.6  4740.8  4755.2    2391  3112     0.0
4  2021-08-27  4755.2  4827.0  4751.6  4776.6    2101  3184     0.0

In [22]:
futures_zh_minute_sina_df = ak.futures_zh_minute_sina(symbol="IF2210", period="5")
print(futures_zh_minute_sina_df.shape)
futures_zh_minute_sina_df.head()

(960, 7)

              datetime    open    high     low   close  volume  hold
0  2022-08-22 09:35:00  4125.4  4132.6  4124.4  4130.8      50    50
1  2022-08-22 09:40:00  4130.8  4131.2  4122.4  4127.2      61   110
2  2022-08-22 09:45:00  4127.2  4136.6  4127.2  4132.0      29   139
3  2022-08-22 09:50:00  4132.0  4153.0  4132.0  4150.6      91   228
4  2022-08-22 09:55:00  4150.6  4153.8  4147.8  4152.4      91   319

In [13]:
futures_zh_minute_sina_df = ak.futures_zh_minute_sina(symbol="TA2301", period="5")
print(futures_zh_minute_sina_df.shape)
futures_zh_minute_sina_df.head()

(1023, 7)

              datetime    open    high     low   close  volume     hold
0  2022-09-09 13:40:00  5650.0  5652.0  5640.0  5648.0   18479  1188903
1  2022-09-09 13:45:00  5650.0  5650.0  5644.0  5650.0   13713  1189506
2  2022-09-09 13:50:00  5650.0  5652.0  5640.0  5646.0   22122  1190782
3  2022-09-09 13:55:00  5646.0  5650.0  5642.0  5648.0   11517  1189806
4  2022-09-09 14:00:00  5646.0  5662.0  5644.0  5656.0   19654  1190184

In [14]:
futures_zh_minute_sina_df.tail()

                 datetime    open    high     low   close  volume     hold
1018  2022-10-10 22:15:00  5676.0  5686.0  5672.0  5682.0   10838  1106175
1019  2022-10-10 22:20:00  5682.0  5690.0  5682.0  5684.0   12212  1107368
1020  2022-10-10 22:25:00  5684.0  5686.0  5676.0  5678.0    8515  1107048
1021  2022-10-10 22:30:00  5680.0  5690.0  5678.0  5688.0   12724  1108390
1022  2022-10-10 22:35:00  5686.0  5688.0  5682.0  5684.0   10254  1105926

In [10]:
futures_zh_minute_sina_df = ak.futures_zh_minute_sina(symbol="TA2202", period="5")
print(futures_zh_minute_sina_df.shape)
futures_zh_minute_sina_df.head()

(1023, 7)

              datetime    open    high     low   close  volume    hold
0  2022-01-06 11:05:00  5034.0  5040.0  5034.0  5034.0     139  131956
1  2022-01-06 11:10:00  5034.0  5036.0  5024.0  5024.0     147  132082
2  2022-01-06 11:15:00  5026.0  5028.0  5014.0  5016.0     392  132306
3  2022-01-06 11:20:00  5016.0  5022.0  5012.0  5016.0     510  132348
4  2022-01-06 11:25:00  5016.0  5020.0  5014.0  5016.0    1196  131409